body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

h1 {
    text-align: center;
}

main {
    padding: 20px;
}

.result-info {
    padding: 20px;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
}

p {
    margin-bottom: 5px;
}

#correct-answers, #score {
    font-weight: bold;
}

.list-questions {
    padding: 20px;
    border: 1px solid #ccc;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

p {
    margin-bottom: 5px;
}

.correct-answer {
    color: green;
}

.wrong-answer {
    color: red;
}
